[Unit]
Description=Runs a BotBlock scan against recent user activity.
Wants=botblock.timer

[Service]
Type=oneshot
Environment=BOTBLOCK_CONFIG=/home/miles/bot-block/botblock.toml
ExecStart=/usr/bin/botblock

[Install]
WantedBy=multi-user.target