[Unit]
Description=Runs a BotBlock scan against recent user activity.
Requires=botblock.service

[Timer]
Unit=myMonitor.service
OnCalendar=*-*-* *:00:00

[Install]
WantedBy=timers.target